<script type="text/javascript">
var sc_project=11621312; 
var sc_invisible=1; 
var sc_security="8979b1d7"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="free hit
counter" href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="//c.statcounter.com/11621312/0/8979b1d7/1/" alt="free
hit counter"></a></div></noscript>

<hero></hero>

<aboutme></aboutme>

<projects></projects>

<footer>
	
</footer> 

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Brandon Clark © 2018
      </p>

      <a href="https://bulma.io">
        <img src="https://bulma.io/images/made-with-bulma--dark.png" alt="Made with Bulma" width="128" height="24">
      </a>
    </div>
  </div>
</footer>