<!DOCTYPE html>
<html>
<title>Brandon Clark</title>
  <head>
  </head>

  <body>
    <div id='header'>
      <ul>
        <li>
          Code Portfolio
        </li>

        <li>
          Art Portfolio
        </li>

        <li>
          About Me
        </li>
      </ul>
    </div>

    <canvas id='canvas'></canvas>

    <div id='overlay-container'>
      <div id='overlay'>
        <span class='name'>Brandon</span><span class='name'>Clark</span>
        <hr />
        <span id='titles'>Developer • Artist&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&thinsp;&thinsp;&thinsp;</span>
        <span id='ps'>p.s. try clicking the background</span>
      </div>
    </div>

    <div class='row'>
      <div class='col-2  primary'>
        <div class='row'>
          <div class='col-6'>
            <div id='circle'>

            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-6'>
            <h1>Hi, I'm Brandon.</h1>
            <span class='white'>
              <strong>I am a fourth year student at UNC Chapel Hill getting a B.S. in
              Computer Science, and I love to make beautiful things.</strong><br /><br />
              I am a full stack software developer with a particular passion for
              creating beautiful, intuitive, custom user interfaces to give
              the best experience possible, both in mobile app development and
              desktop projects. I love what I do and my passion shows in my work.
              Not only am I proficcient in the tools used to create these experiences,
              but I have the artistic talent to design them as well.
            </span>
          </div>
        </div>
      </div>

      <div class='col-4 secondary start'>
        <div class='row'>
          <div class='col-3 start'>
             <ul>
                <h2><img src='/assets/languages.svg' /> Languages</h2>
                <li>JavaScript/TS (ES6)</li>
                <li>HTML5</li>
                <li>CSS3/SASS</li>
                <li>SQL</li>
                <li>Python</li>
                <li>Java</li>
                <li>C</li>
            </ul>
          </div>

          <div class='col-3 start'>
             <ul>
                <h2><img src='/assets/frameworks.svg' /> Frameworks</h2>
                <li>React</li>
                <li>Angular2</li>
                <li>Node.js</li>
                <li>Ionic</li>
            </ul>
          </div>
        </div>

        <div class='row'>
          <div class='col-3 start'>
            <ul>
              <h2><img src='/assets/tools.svg' /> Tools</h2>
              <li>Git</li>
              <li>Command Line/Bash</li>
              <li>MongoDB</li>
              <li>Chrome DevTools</li>
              <li>Postman</li>
              <li>Photoshop</li>
            </ul>
          </div>

          <div class='col-3 start'>
            <ul>
              <h2><img src='/assets/languages.svg' /> Design</h2>
              <li>Photoshop</li>
              <li>Inkscape</li>
              <li>Autodesk Inventor</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <!-- Code Portfolio -->
    <div class='row' id='projects'>
      <div class='col-6'>
        <!-- Project Row -->
        <div class='row project-row'>
          <project *ngFor='let p of projects; let i = index'
          [project]='p'
          [color] = 'colors[i]'
          class='col-3 project'></project>
        </div>
      </div>
    </div>
  </body>
</html>
