<!-- Project Image -->
<div class='row project-image-container'>

  <div class='col-3 left' [style.backgroundColor] = "'' + bgcolor()" >
    <div class='project-title'>{{ project.name }}</div><br />
    <div class='project-description' >{{ project.description }}</div>

    <div class='row bottom'>
      <div class='col-6'>
        <div class='download-icons row'>
          <div class='apple col' *ngIf='project.apple'><a href='{{project.play}}' ><img src='/assets/App Store.png'></a></div>
          <div class='play col' *ngIf='project.play'><a href='{{project.play}}' ><img src='/assets/Google Play.png'></a></div>
        </div>
        <div class='source row' *ngIf='project.source'><a href='{{project.source}}'>&lt;Source /&gt;</a></div>
        <div class='source row'  *ngIf='!project.source'>Source Unavailable</div>
      </div>
    </div>
  </div>

    <div *ngFor='let image of project.images.mobile' class='col-3 project-images'>
      <div class="md-iphone-5 md-black-device md-glare">
       <div class="md-body">
          <div class="md-buttons"></div>
          <div class="md-front-camera"></div>
          <div class="md-top-speaker"></div>

          <div class="md-screen">
            <img class='mobile-project-image' src='/assets/Project Images/{{image}}.png'/>
          </div>

          <button class="md-home-button"></button>
        </div>
      </div>
    </div>

    <!-- <div *ngFor='let image of project.images.desktop'>
      <img src='/assets/Project Images/pixel_black.svg' class='project-image' />
      <img src='/assets/Project Images/{{image}}.png' class='project-image' />
    </div> -->
</div>
