<div class='tile is-ancestor'>
  <!-- About -->
  <div class='tile is-vertical is-parent is-6' style='padding: 40px'>
    <div class='tile is-child is-10'>
      <p class='title'>{{ project.name }}</p>
      <p class='subtitle' >{{ project.description }}</p>
    </div>

    <div class='tile is-child is-10'>
      <ng-container  *ngFor='let tag of project.tags'>
        <span class="tag is-info">
          {{ tag }}
        </span>&nbsp;
      </ng-container>
    </div>

    <div class='tile is-child is-10'>
      <div class='columns is-multiline is-mobile'>
        <div class='column is-4' *ngIf='project.source'>
          <a href='{{project.source}}' ><img src='./assets/Source.svg'></a>
        </div>
        <div class='column is-4' *ngIf='project.demo'>
          <a href='{{project.demo}}' ><img src='./assets/Demo.svg'></a>
        </div>
        <div class='column is-4' *ngIf='project.apple'>
          <a href='{{project.play}}' ><img src='./assets/App Store.png'></a>
        </div>
        <div class='column is-4' *ngIf='project.play'>
          <a href='{{project.play}}' ><img src='./assets/Google Play.png'></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Image -->
  <div class='tile is-parent' id='image-container'>
    <div class='tile is-child image'>
      <div class='level is-mobile'>
        <div class='image-outer' [style.backgroundImage]="bgimage()">
        </div>
        <div class='image-wrap'>
          <img class='project-image' src='../assets/Project Images/{{project.name}}.png' alt='no project image yet :('>
        </div>
      </div>
    </div>
  </div>
</div>